Repository Dokuqui/LanguageRevamp, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, go, python, ci, documentation, utilities, dependencies, config

.github/labeler.yml:

# Labeler configuration for Language Revamp repository

# Label PRs modifying Rust-related files
rust:
  - "src/rust/**"
  - "Cargo.toml"
  - "Cargo.lock"

# Label PRs modifying Go-related files
go:
  - "src/go/**"
  - "go.mod"
  - "go.sum"

# Label PRs modifying Python-related files
python:
  - "src/python/**"
  - "requirements.txt"
  - "pyproject.toml"

# Label PRs modifying GitHub Actions or CI/CD workflows
ci:
  - ".github/workflows/**"

# Label PRs modifying README or documentation
documentation:
  - "README.md"
  - "docs/**"

# Label PRs modifying general utility functions
utilities:
  - "src/utils/**"

# Label PRs modifying dependency-related files
dependencies:
  - "Cargo.toml"
  - "go.mod"
  - "requirements.txt"
  - "package.json"
  - "pnpm-lock.yaml"

# Label PRs modifying configuration files
config:
  - ".github/**"
  - ".gitignore"
  - ".editorconfig"
  - "tsconfig.json"
  - "eslint.config.js"

chore: adjust versions before publish
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/rust/update.rs
Labels: rust, dependencies

feat: add node js functionality
  src/cli.rs
  src/go/update.rs
  src/main.rs
  src/nodejs/check.rs
  src/nodejs/cli.rs
  src/nodejs/mod.rs
  src/nodejs/update.rs
Labels: go

feat: add java functionality
  src/cli.rs
  src/java/check.rs
  src/java/cli.rs
  src/java/mod.rs
  src/java/update.rs
  src/main.rs
Labels: none

docs: update documentation
  README.md
Labels: documentation

feat: add new tagged version
  Cargo.toml
  src/cli.rs
Labels: rust, dependencies

six: update version lock
  Cargo.lock
Labels: rust

docs: Update README.md
  README.md
Labels: documentation

docs: Update README.md
  README.md
Labels: documentation
